<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <footer class="footer" th:fragment="common_footer">
        <div class="footer-inner">
            <div class="footer-info">
                <span class="company-name">DGJS</span>
                <span>대표이사: 도경진</span>
                <span>사업자등록번호: 123-45-67890</span>
                <span>주소: 서울특별시 용산구 보광동 123-45 DGJ 빌딩 3층</span>
            </div>
            <div class="footer-contact">
                <span>TEL: 02-1234-5678</span>
                <span>FAX: 02-1234-5679</span>
                <span>Email: support@dgjservice.com</span>
            </div>
            <div class="footer-copyright">
                &copy; 2026 DGJ Service Co., Ltd. All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>
